old
test.*
*.o
*.so
wombathasher
wombathasher+
wombatimager
wombatinfo
wombatmount
wombatverify
wombatrestore
wombatlogical
wombatfileforensics
test/wombatreader
sdcard.*
b3hasher
mkwalafus
rdwalafus
